html,body{
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden; 
    width: 100%;
}

.title{
    color: blue;
    text-align: center;
    margin: 20px;
}

.greeting{
    color: grey;
    text-align: center;
    margin: 20px;
}

.validate{
    color:red;
}

.header-container{
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.center{
    display: flex;
    justify-content: center;
}