table {
    display: flex;
    justify-content: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 80%; */
    margin: 10px;
}

.table-container{
    padding: 10px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}